/*"Cover Page"*/
#intro img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
#intro {
  background-image: url("../images/Governance.JPG");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  padding-top: 40vh;
  color:#316331;
  height: 100vh;

}

#intro h2 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 5em;
  text-shadow: 2px 2px 2px black;
}

/*Scroll Panel */
article.container {
  background: #0B1E38;
  color: #d8d8d8;
  opacity: 0.9;
  width: 30%;
  max-width: 600px;
  float: left;
}

article {
  letter-spacing: .2px;
}

article h1 {
  color: #316331;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;

}

article h2, h4 {
  width: 90%;
  margin: 10px 0px 20px 20px;
  color: #316331;
}

article h2.subhead {
  color: #fff;
  text-align: center;
  margin: 32px auto 2px;
}

section {
  margin-top: 25px;
}


/*Container for map elements */
.svgContainer{
  fill: #0B1E38;

}
.countries {
    fill: #0B1E38;
    stroke: #fff;
    stroke-width: 2px;

}

.map{
position: absolute;
  right: 0;
   /*border: medium solid #999;*/


}

.regions{
  fill: #316331;
}


.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #0B1E38;
}

.dropdown {
    position: absolute;
    top: 1000px;
    left: 480px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0B1E38;
  color: #444;#316331
  cursor: pointer;
  padding: 18px;
  width: 92%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover{
  background-color: #316331;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

option {
    font-weight: normal;
}
